.canDo{
    --space-lg: 100px;
    margin-block: clamp(30px, 5vw + 1rem, var(--space-lg));
}

.canDo__title{
    font-family: 'Fairwall Sans';
    font-style: normal;
    font-weight: 300;
    font-size: clamp(25px, 5vw + 1rem, 48px);
    line-height: 111.4%;
    color: #F2F6FF;
    margin-block-end: 50px;
}

.canDo__box{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.canDo__list{
    padding: 60px 0px 40px 70px;
    border: 2px solid hsla(222, 100%, 97%, 1);
    padding-inline-end: clamp(10px, 5vw + 2rem, 200px);
    flex-grow: 1;
    max-width: 500px;
}

/* .canDo__list:nth-child(1){
    border-right: 0;
}
.canDo__list:nth-child(2){
    border-right: 0;
} */

.canDo__link{
    font-family: 'Fairwall Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 270.9%;
    color: #F2F6FF;
    text-decoration: none;
    text-transform: uppercase;
}